# 공용 기본값
TZ=Asia/Seoul
# DB_HOST: compose 내부 DNS명
DB_HOST=dbhost
DB_PORT=3306
DB_NAME=dbname
DB_USER=dbuser
DB_PASSWORD='example123'

# 공용 네트워크/호스트
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
# 172.19.0.1 : docker 브리지 게이트웨이
DJANGO_ALLOWED_IPS=127.0.0.1,::1,172.19.0.1
# 앞단에 프록시 서버가 있을경우
DJANGO_TRUSTED_PROXIES=172.19.0.0/16
# Forbidden 요청 시에 해당 IP 로그 출력 (운영시 False 필수)
DJANGO_SHOW_FORBIDDEN_IP=true